div{
    
}
button{
    border: none;
    background-color: blanchedalmond;
    font-size: 25px;
    border-radius: 20px 20px 20px 20px;
    transition: 1s all;

}
button:hover{
    transform: 1s all;
    font-size: 30px;

}